{% extends 'baseList.html.twig' %}

{% block title %}
	{{'list'|trans}} {{'students'|trans}}
{% endblock %}


{% block bodyList %}
			
	<div class="page-tabs">
		<a href="#listEleve" class="active">Liste des eleves</a>
		<a href="#listCours"> Liste des cours</a>
	</div>

	    <div id="listEleve" class="table-responsive page-content-wrap page-tabs-item active">
	    	<table id="customers2" class="table datatable">
	            <thead>
	                <tr>
	                    <th style="width:10%;">{{'matiere'|trans}}</th>
	                    <th style="width:10%;">{{'eleve.nom_prenom'|trans}}</th>
	                    <th style="width:10%;">{{'evaluation.title'|trans}} </th>
	                    <th style="width:20%;">{{'note'|trans}}</th>
	                    <th style="width:20%">{{'global.remark'|trans}}</th>
	                    <th style="width:20%;">{{'global.date'|trans}}</th>
	                    <th style="width:10%;">{{'global.action'|trans}}</th>
	                </tr>
	            </thead>
	            <tbody>
					{% set i=0 %}
						<form name="addNote" id="addNote" action="{{path('addNote')}}" method="post">
							
						{% for data in datas.data %}
						{% if i==0 %}
							<a style="margin-bottom:2%;" class="btn btn-info" href="{{ path('addMatiereEvaluation', { 'idClasse': data.eleve.classe.id, 'idMatiere': datas.matiere.id}) }}"><i class="fa fa-plus"></i>{{'evaluation.add'|trans}}</a>
							<input type="hidden" name="idClasse" value="{{data.eleve.classe.id}}">
							{% endif %}
							<tr>
							<td>{{datas.matiere.nom}}</td>
							<td>{{data.eleve.nom~' '~data.eleve.prenom}}</td>
							
								{% set j=0 %}

								{% if datas.evaluations is empty %}
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								{% endif %}
								{% for evaluation in datas.evaluations %}
									{% set bool=false %}

									{% if j!=0 %}
										<tr>
											<td></td>
											<td></td>
											
									{% endif %}
									
									{% if(data.note is not null) %}
									
										{% for notes in data.note %}
											{% if bool==false and notes.evaluation_id==evaluation.id %}
												<td>
													{# Cas où l'evaluation a été noté #}
													{{evaluation.nom}}
													<input hidden="hidden" type="text" name="evaluation{{i}}" value="{{evaluation.nom}}" disabled>
												</td>
												<td>	
													<input class="form-control" name="eleve{{data.eleve.id}}id{{j}}note" value="{{notes.note}}">
		                                        </td>
		                                        <td>
		                                        	<textarea rows="5" cols="80" class="form-control" name="eleve{{data.eleve.id}}id{{j}}remarque" >{{notes.remarque}}</textarea>
		                                        </td>
		                                        <td>
		                                        	<input value="{{notes.date}}" type="date" name="eleve{{data.eleve.id}}id{{j}}date">
		                                        </td>
		                                        <td>
													<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}Evaluation" value="{{evaluation.id}}">
													<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}MatiereEleve" value="{{notes.id}}">
													<a class="btn btn-danger btn-condensed" href="{{path('delete_note', { 'id': notes.id })}}"> <i class="fa fa-trash"></i></a>
													{% set bool=true %}
													{% set j=j+1 %}
												</td>
											{% endif %}
											{% if loop.last and bool==false %}
											{# Cas où l'evaluation n'a pas été noté #}
												<td>
													{{evaluation.nom}}
													<input hidden="hidden" type="text" name="evaluation{{i}}" value="{{evaluation.nom}}" disabled>
												</td>
												<td>
													<input class="form-control" name="eleve{{data.eleve.id}}id{{j}}note" value="">
												</td>
												<td>
													<textarea rows="5" cols="80" class="form-control" name="eleve{{data.eleve.id}}id{{j}}remarque">{{notes.remarque}}</textarea>
												</td>
												<td>
													<input type="date" class="form-control" name="eleve{{data.eleve.id}}id{{j}}date" value="{{notes.date}}">
												</td>
												<td>
													<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}Evaluation" value="{{evaluation.id}}">
													<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}MatiereEleve" value="-1">
													{% set j=j+1 %}
												</td>
											{% endif %}
										{% endfor %}

									{% else %}	

										{# Cas où l'eleve n'a pas été noté #}	
										<td>
											{{evaluation.nom}}
											<input hidden="hidden" type="text" name="evaluation{{i}}" value="{{evaluation.nom}}" disabled>
										</td>
										<td>
											<input class="form-control" name="eleve{{data.eleve.id}}id{{j}}note" value="">
										</td>
										<td>
											<textarea rows="5" cols="80" class="textArea form-control" name="eleve{{data.eleve.id}}id{{j}}remarque"></textarea>
										</td>
										<td>
											<input type="date" class="form-control" name="eleve{{data.eleve.id}}id{{j}}date" value="">
										</td>
										<td>
											<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}Evaluation" value="{{evaluation.id}}">
											<input type="hidden" name="eleve{{data.eleve.id}}id{{j}}MatiereEleve" value="-1">
										</td>
										{% set j=j+1 %}
										
									{% if j!=0 %}
										</tr>
									{% endif %}
									{% endif %}
									
								{% endfor %}
								<input type="hidden" name="idmatiere{{i}}" value="{{datas.matiere.id}}">
								<input type="hidden" name="ideleve{{i}}" value="{{data.eleve.id}}">
								<input type="hidden" name="lengthEvaluation" value="{{datas.evaluations|length}}">
							{% set i=i+1 %}
							</tr>
						{% endfor %}
						<input type="hidden" name="cpt" value="{{i}}">
						<input style="margin-bottom:2%;" type="submit" class="submitButton btn btn-primary pull-right"  value="{{'global.update'|trans}}" />
							
						</form>
				</tbody>
			</table>
		</div>

	<div id="listCours" class="table-responsive page-content-wrap page-tabs-item">
		<table id="customers3" class="table datatable">
            <thead>
                <tr>
                	<th style="width:15%;" class="text-center">{{'cours.name'|trans}}</th>
                    <th class="text-center">{{'cours.support.title'|trans}}</th>
                    <th class="text-center">{{'devoir.maison.title'|trans}}</th>
                    <th class="text-center">{{'cours.annexe.title'|trans}}</th>
                    <th class="text-center">{{'global.action'|trans}}</th>
                </tr>
            </thead>
            <tbody>
            	<a style="margin-bottom:2%;" class="btn btn-condensed btn-info" href="{{ path('new_cours', { 'idClasse': datas.data[0].eleve.classe.id, 'idMatiere': datas.matiere.id}) }}"><i class="fa fa-plus"></i>{{'cours.add'|trans}}</a>
				{% for cours in datas.cours %}
					<tr>
					<td class="text-center">
					{{cours.titre}} 
					</td>
					<td class="text-center">
						<a class="btn btn-condensed btn-info" href="{{asset(uploads_cours_support~'/'~cours.support)}}">
							<i class="fa fa-file-text"></i>
						</a> 
					</td>
					<td class="text-center">	
						<a class="btn btn-condensed btn-info" href="{{asset(uploads_cours_devoir~'/'~cours.devoir)}}">
							<i class="fa fa-file-text"></i>
						</a> 
					</td>
					<td class="text-center">	
						<a class="btn btn-condensed btn-info" href="{{asset(uploads_cours_annexe~'/'~cours.annexe)}}">
							<i class="fa fa-file-text"></i>
						</a>
					</td>
					<td class="text-center">	
						<a class="btn btn-condensed btn-info" href="{{path('edit_cours',{'id':cours.id})}}">
							<i class="fa fa-edit"></i>
						</a>
						<a class="btn btn-condensed btn-danger" href="{{path('delete_cours',{'id':cours.id})}}">
							<i class="fa fa-trash"></i>
						</a>
					</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<style type="text/css">
	.displayBlock{
		display: block;
	}
	</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/plugins/datatables/jquery.dataTables.min.js')}}"></script>

	<script type="text/javascript">

     $( document ).ready( function() {
     		
     		$('#customers2').dataTable({
				"aaSorting": []
  			});

     		$('#customers3').dataTable({
				"aaSorting": []
  			});


  			

     			$('.spinner_decimal').spinner();
     		    $(".numberInput").spinner();
            });
</script>

{% endblock %}