{% trans_default_domain 'FOSUserBundle' %}

<div class="login-container">
        
        <div class="login-box animated fadeInDown">
            <!-- <div class="login-logo"></div> -->
            <h1 style="text-align: center;color: white;">SCHOOLIUM</h1>
            <div class="login-body">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="login-title"><strong>Bienvenue</strong>,</div>
                <form action="{{ path("fos_user_security_check") }}" class="form-horizontal" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        
                        <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link btn-block">Mot de passe oublié ?</a>
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-info btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2017 Schoolium
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
</div>
